<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDzj9VFLycLadGTc74jcRWw6tTE6U91-I</string>
	<key>GCM_SENDER_ID</key>
	<string>864959251314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.viStore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-45684</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-45684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864959251314:ios:a1f2850f0f0c1f2e8153eb</string>
</dict>
</plist>